.row
    .col-lg-4.col-md-6
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
               img(src='css/wedge_pillow_large.jpg') a.navbar-brand(href='dashboard')
          a(href='dashboard#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
    .col-lg-2.col-md-6
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-thumbs-o-up.fa-5x
              .col-xs-9.text-right
                .huge 8
                h3
                 | High-Impact Features
               h4 - good for elevating your head.
               p.text-small - cheap
               p.text-small - thicker pillow
               p.text-small - sleeps well, does not lose breath
               p.text-small - cheaper than compititors , fast delivery, great packaging
          a(href='dashboard#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-2.col-md-6
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-heart.fa-5x
              .col-xs-9.text-right
                .huge 5
                h3
                 | Health Recommendations
               h4 - Respiratory Problems,  bronchitis
               p.text-small - Gerd, Gastritis and Esophagitis
               p.text-small - good for heartburn, bloating and stomach pain
               p.text-small - comforting for replaced knee , hip
          a(href='dashboard#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-2.col-md-6
        .panel.panel-warning
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-shopping-cart.fa-5x
              .col-xs-9.text-right
                .huge 4
                h3
                 | Product References
               h4 - a rolled up cheap pillow
               p.text-small - laptop holder.
          a(href='dashboard#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-2.col-md-6
        .panel.panel-success
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-user.fa-5x
              .col-xs-9.text-right
                .huge 4
                h3
                 | Buyer's Interests
               h4 - sleep on an incline.
               p.text-small - leg rest.
          a(href='dashboard#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix              

 .row
      .col-lg-2.col-md-6
        .panel.panel-warning
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-info.fa-5x
              .col-xs-9.text-right
                .huge 4
                h3
                 | Topics
               h4 - memory foam
               p.text-small - wellness
               p.text-small - rehab
          a(href='dashboard#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-2.col-md-6
        .panel.panel-red
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-thumbs-o-down.fa-5x
              .col-xs-9.text-right
                .huge 10
                h3
                 | Complaints
               h4 - hard cushion
               p.text-small - For memory foam, it is a very firm
               p.text-small - steep incline, neck has become very stiff and painful
          a(href='dashboard#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-2.col-md-6
        .panel.panel-success
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-envelope-o.fa-5x
              .col-xs-9.text-right
                .huge 4
                h3
                 | Vendor Engagement
               h4 - rolled up cheap pillow
          a(href='dashboard#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-2.col-md-6
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-credit-card.fa-5x
              .col-xs-9.text-right
                .huge 4
                h3
                 | Business Opportunity
               h4 - rehabilitation centers
               p.text-small - hospitals
          a(href='dashboard#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix              
      .col-lg-2.col-md-6
        .panel.panel-yellow
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-dollar.fa-5x
              .col-xs-9.text-right
                .huge 10
                h3
                 | Generated Demand
               h4 - less firm wedge foam pillow with smooth incline
          a(href='dashboard#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix 
      .col-lg-2.col-md-6
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-gift.fa-5x
              .col-xs-9.text-right
                .huge 20
                h3
                 | Customer Offers
               h4 - mail / email offers to unsatisfied customer
               p.text-small - discounted price on healthier product line to old people
          a(href='dashboard#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix 

              
    .row
      .col-lg-12
      
      
        // Area Chart
        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw
            |  Product Rating Stream
            .pull-right
              .btn-group
                button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                  | Actions
                  span.caret
                ul.dropdown-menu.pull-right(role='menu')
                  li
                    a(href='dashboard#') Action
                  li
                    a(href='dashboard#') Another action
                  li
                    a(href='dashboard#') Something else here
                  li.divider
                  li
                    a(href='dashboard#') Separated link
          .panel-body
            #morris-area-chart 
            
            
    .row
      .col-lg-6
      
      
        // Notifications
        .panel.panel-default
          .panel-heading
            i.fa.fa-bell.fa-fw
            |  Review Notifications
          .panel-body
            .list-group
              a.list-group-item(href='dashboard#', ng-repeat='listItem in notifications')
                i.fa.fa-fw(class="fa-{{listItem.Icon}}")
                |  {{listItem.Subject}}
                span.pull-right.text-muted.small
                  em {{listItem.DateTime}}
            a.btn.btn-default.btn-block(href='dashboard#') View All Alerts 
            
          .panel-footer
            .input-group
              input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...')
              span.input-group-btn
                button#btn-chat.btn.btn-warning.btn-sm
                  | Send        
       .col-lg-6
        
        // Donut Chart
        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw
            |  Sales Increase
          .panel-body
            #morris-donut-chart
            a.btn.btn-default.btn-block(href='dashboard#') View Details
            
            

