.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
       h2
        | Review
      .panel-body
        p
          | I have suffered with Gerd, Gastritis and Esophagitis for 1yr now and have been to several doctors and taken numerous medicine.All doctors told me to sleep on an incline and add blocks under my bed but I did not want to elevate both me and my wife so I slept on 3 pillows for over a year. Now I have arthritis in my neck and sleeping on 3 pillows have not done much to keep the acid down out of my throat. This wedge pillow does a good jo of not just elevating your head but it raises your entire upper abdomen to keep heartburn away from this area. I used to get up every night because of heartburn, bloating and stomach pain. This pillow keeps food down and acid down but after sleeping on it for 3 weeks, now my neck has become very stiff and painful. This pillow is hard cushion at the head area so now I have to get a rolled up cheap pillow and place it under my neck while lying on this pillow. Or sometimes I would slide down and sleep with my head near the bottom edge of the pillow which does not have a steep incline, to save my neck from bending too much upward.
      .panel-footer
        | Panel Footer
   .col-lg-1
    .panel.panel-green
     .panel-heading
      h2
       | Up Votes
     .panel-body
      .col-xs-3
        i.fa.fa-thumbs-o-up.fa-5x
      .col-xs-9.text-right
       .huge 22         
        
  .col-lg-3
    .panel.panel-primary
      .panel-heading
       h2
        | Buyer's Satisfaction
      .panel-body
       .col-xs-3
         i.fa.fa-thumbs-o-up.fa-5x
       .col-xs-9.text-right
         .huge  good for elevating your head , keep heartburn away
  .col-lg-4
    .panel.panel-green
      .panel-heading
       h2
        | Health Recommendations
      .panel-body
       .col-xs-3
         i.fa.fa-thumbs-o-up.fa-5x
       .col-xs-9.text-right
          .huge recommended for Gerd, Gastritis and Esophagitis patients,  relief from heartburn, bloating and stomach pain.
         
 .row       
  .col-lg-3
    .panel.panel-success
      .panel-heading
       h2
        | Positive Product Attributes
      .panel-body
       .col-xs-3
         i.fa.fa-thumbs-o-up.fa-5x
       .col-xs-9.text-right
          .huge Value, Features.
   .col-lg-3
    .panel.panel-yellow
      .panel-heading
       h2
        | Negative Product Attributes
      .panel-body
       .col-xs-3
         i.fa.fa-thumbs-o-down.fa-5x
       .col-xs-9.text-right
          .huge Comfort.                 
   .col-lg-3
    .panel.panel-red
      .panel-heading
       h2
        | Complaints
      .panel-body
       .col-xs-3
         i.fa.fa-thumbs-o-down.fa-5x
       .col-xs-9.text-right
         .huge hard cushion , steep incline, neck has become very stiff and painful.    
           
  .col-lg-3
    .panel.panel-info
     .panel-heading
      h2
       | Buyer's Interests
     .panel-body
      .col-xs-3
        i.fa.fa-user.fa-5x
      .col-xs-9.text-right
        .huge sleep on an incline
         
